<div class="alert border bg-light shadow-sm p-4">

    <h5 class="fw-bold mb-3">
        Our Commitment
    </h5>

    <div class="d-flex align-items-start">

        <i class="fas fa-check-circle text-danger me-3 mt-1 fs-4"></i>

        <div>

            <p class="text-danger fw-semibold mb-2">
                ကလေးများ လွတ်လပ်စွာ ပျော်ရွှင်နိုင်ဖို့ နှင့်
                မိဘများ စိတ်ချလက်ချ နေနိုင်ဖို့ ...
            </p>

            <p class="mb-0 lh-lg">
                ဧရာမြန်မာအသက်အာမခံက
                သင့်မိသားစုရဲ့ ချစ်ခြင်းမေတ္တာ နှင့် ပေါင်းပြီး
                ပျော်ရွှင်မှုတိုင်းကို ကာကွယ်ပေးနေမှာ ဖြစ်ပါတယ်။
            </p>

        </div>

    </div>

</div>