<div class="card shadow-sm border-0">

    <div class="card-body p-4">

        <h5 class="fw-bold mb-4">
            Required Documents
        </h5>

        <ul class="list-group list-group-flush mb-4">

            <li class="list-group-item">
                <i class="fas fa-file-alt text-success me-2"></i>
                (၁) ဒဏ်ရာ ဓာတ်ပုံများ (မျက်နှာနှင့် တွဲ၍)
            </li>

            <li class="list-group-item">
                <i class="fas fa-notes-medical text-success me-2"></i>
                (၂) ဆေးကုသမှု မှတ်တမ်းများ
            </li>

            <li class="list-group-item">
                <i class="fas fa-id-card text-success me-2"></i>
                (၃) မှတ်ပုံတင် မိတ္တူ (ရှေ့/နောက်)
            </li>

        </ul>

        <h5 class="fw-bold mb-3">
            Contact Our Claims Team
        </h5>

        <div class="alert alert-light border mb-0">

            <p class="mb-2 lh-lg">
                လျော်ကြေး တစ်စုံတရာ ပေါ်ပေါက်ခဲ့ပါက
                AMI Life ၏ Claim လက်ခံဌာန၏ Viber No.
            </p>

            <p class="fw-bold text-danger fs-5 mb-2">
                <a href="viber://chat?number=%2B959940091144"><i class="fab fa-viber"></i> 09 9400 911 44</a>
            </p>
            <p class="mb-0 mt-2 lh-lg">
                သို့ တိုက်ရိုက်ဆက်သွယ်၍ အကြောင်းကြား နိုင်ပါသည်။
            </p>