{% extends 'base.html' %}

{% block title %}Home - AMI Life Insurance{% endblock %}

{% block content %}

<div class="d-flex justify-content-center mt-4">

  <div class="w-100" style="max-width:1000px;">

    <!-- HERO -->
    <div class="text-center mb-4">

      <h1 class="display-6 fw-semibold">
        Protecting your future with AMI Life
      </h1>

      <p class="text-muted">
        "For better tommorows, together with you today."
      </p>

    </div>
  
    <!-- CARDS -->
    <div class="row g-3 mt-3">

      <div class="col-12 col-md-4">
        <a href="{% url 'know_insurance' %}"
           class="card btn-card text-decoration-none text-dark h-100 shadow-sm">

          <div class="card-body">
            <h5 class="card-title">Know Your Insurance</h5>
            <p class="card-text text-muted">
              Understand coverages, benefits, and exclusions.
            </p>
          </div>

        </a>
      </div>

      <div class="col-12 col-md-4">
        <a href="{% url 'file_claim' %}"
           class="card btn-card text-decoration-none text-dark h-100 shadow-sm">

          <div class="card-body">
            <h5 class="card-title">How to Claim?</h5>
            <p class="card-text text-muted">
              Report an incident and track progress easily.
            </p>
          </div>

        </a>
      </div>

      <div class="col-12 col-md-4">
        <a href="{% url 'get_quote' %}"
           class="card btn-card text-decoration-none text-dark h-100 shadow-sm">

          <div class="card-body">
            <h5 class="card-title">Get in touch</h5>
            <p class="card-text text-muted">
              Contact us anytime for guidance and answers to your insurance needs.
            </p>
          </div>

        </a>
      </div>

    </div>

  </div>

</div>

{% endblock %}