{% extends 'base.html' %}

{% block title %}Know Your Insurance - AMI Life Insurance{% endblock %}

{% block content %}

<div class="d-flex justify-content-center mt-4">

  <div class="w-100" style="max-width:1000px;">

    <!-- TITLE -->
    <div class="bg-light text-muted text-center py-3 rounded shadow-sm mb-4">
      <h2 class="mb-0 fw-bold">Know Your Insurance</h2>
    </div>

    <!-- CARDS -->
    <div class="row g-3 mt-3">

      <div class="col-12 col-md-4">
        <a href="{% url 'coverage_details' %}" class="card btn-card text-decoration-none text-dark h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title mt-3 text-center">Star World ကစားကွင်းတွင် ရရှိသော အာမခံဆိုတာဘာလဲ။</h5>
          </div>
        </a>
      </div>

      <div class="col-12 col-md-4">
        <a href="{% url 'policydocs' %}" class="card btn-card text-decoration-none text-dark h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title mt-3 text-center">အာမခံအကာအကွယ်နှင့် အကျိုးခံစားခွင့်များက ဘာလဲ။</h5>
            {% comment %} <p class="card-text text-muted">
              Access and review your policy documents at any time.
            </p> {% endcomment %}
          </div>
        </a>
      </div>

      <div class="col-12 col-md-4">
        <a href="{% url 'our_commitment' %}" class="card btn-card text-decoration-none text-dark h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title mt-3 text-center">ကျွန်ုပ်တို့၏ ကတိ</h5>
            {% comment %} <p class="card-text text-muted">
              Learn about our commitment to you and your family.
            </p> {% endcomment %}
          </div>
        </a>
      </div>

    </div>

  </div>

</div>

{% endblock %}